@model WebApplication2.Models.Incident

@{
    ViewBag.Title = "ShowIncident";
}

<h2>ShowIncident</h2>

<div>
    <h4>Incident</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Technician.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Technician.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOpened)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOpened)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<p>
    <div class="col-md-offset-2 col-md-10">
        <a href="EditIncident?id=@Model.IncidentID" style="background-color:black; color:white" class="btn btn-default" type="submit">Edit</a> |
        <a type="submit" href="/Incidents/Index" class="btn btn-default" style="background-color:black; color:white">Back To List</a>
    </div>
</p>
